test.log
source/ltxdoc.cfg
source/*.aux
source/*.hd
source/*.log
source/*.out
source/*.pdf
source/*.sty
source/*.toc
issues/*/caption.sty
issues/*/caption2.sty
issues/*/caption3.sty
issues/*/bicaption.sty
issues/*/ltcaption.sty
issues/*/newfloat.sty
issues/*/subcaption.sty
issues/*/totalcount.sty
issues/*/*.aux
issues/*/*.brf
issues/*/*.glo
issues/*/*.hd
issues/*/*.idx
issues/*/*.ist
issues/*/*.lo*
issues/*/*.nav
issues/*/*.out
issues/*/*.pdf
issues/*/*.rcd
issues/*/*.snm
issues/*/*.toc
issues/sourceforge/command.txt
issues/usenet/2005-06-28-bar.tex
issues/usenet/2005-06-28-baz.tex
issues/usenet/2005-06-28-foo.tex

