source/ltxdoc.cfg
source/*.aux
source/*.hd
source/*.log
source/*.out
source/*.pdf
source/*.sty
source/*.toc
tickets/*.aux
tickets/*.hd
tickets/*.log
tickets/*.out
tickets/*.pdf
tickets/*.sty
tickets/*.toc

